.hide,legend,hr,caption span {
    position: absolute;
    left: -3000%;
}

ul,li,a {
    text-decoration: none;

}

[id] {
     overflow: hidden;
}

.blank {
    width: 100%; 
    max-width: 100%; 
    padding: 10px; 
    margin: 0; 
    box-sizing: border-box; 
}

.body__container {
    /* overflow-x: hidden; */
    width: 100%;
    margin: 0;
    padding: 0;
}



#header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
}

#header .inner {
    max-width: 1100px;
    margin: 0 auto;
}

#header .inner h1 {
    flex: 1;
}

#header > div > * {
    display: flex;
}

#header .inner h1 img {
    height: 63px;
}

#header .inner ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 0 133px;
}

#header .inner ul li {
    padding: 0px 10px;
}

#header .inner ul li a{
    font-size: 15px;
    color: currentColor;
    padding: 0px 8px;
    padding: 12px 10px;

}

#header .inner ul li a:hover {
    color: #0069d9;
    background-color: rgba(0, 0, 0, 0.05); 
    border-radius: 10px;

}

#header .download {
    display: none;
}

#header .kor {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header .kor span {
    color: #d1d6db;
}

#header .kor a{
    font-size: 15px;
    color: currentColor;
    padding: 12px 11px;
}

#header .kor a:hover {
    background-color: rgba(0, 0, 0, 0.05); 
    border-radius: 10px;
}

/* main */


#main .main_inner {
    position: relative;
   
}

#main .imgs {
    width: auto;
    height: 100vh;
}

#main .main_inner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#main .Shadow {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(180deg, white 0%, white 59px, rgba(255, 255, 255, 0) 100%);
}

.main_font {
    position: absolute; 
    top: 25%; 
    left: 50%; 
    margin-bottom: 50px;
    transform: translate(-50%, -50%); 
    color: white; 
    text-align: center; 
    font-size: 32px; 
    font-weight: bold; 
    z-index: 1;
    color: rgb(0, 0, 0);
}

.main_font h1 {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeSlideUp 3s ease-out forwards;
    animation-delay: 1s;
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
    font-size: 66px;
    font-weight: 700;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    word-break: keep-all;
    white-space: pre-wrap;
}

.main_font a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    font-size: 23px;
    width: 147px;
    height: 47px;
    border-radius: 40px;
    text-align: center;
    align-items: center;
    line-height: 41px;

    /* ✅ 애니메이션 추가 */
    opacity: 0;
    transform: translateY(30px);
    animation: fadeSlideUp 3s ease-out forwards;
    animation-delay: 2s; /* h1보다 조금 늦게 시작 */
}

@keyframes fadeSlideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


#main .maim_btn {
    position: absolute;
    width: 51px;
    height: 46px;
    top: 90%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background-color: transparent;
    animation: moveUpDown 3s infinite;
}
@keyframes moveUpDown {
    0% {
        transform: translate3d(-50%, -50%, 0);
        opacity: 1; /
    }
    10% {
        transform: translate3d(-50%, -70%,0);
        opacity: 1; /
    }
    20% {
        transform: translate3d(-50%, -90%, 0);
        opacity: 1; 
    }
    30% {
        transform: translate3d(-50%, -80%, 0); 
        opacity: 1; 
    }
    40% {
        transform: translate3d(-50%, -80%, 0); 
        opacity: 1; 
    }
    50% {
        transform: translate3d(-50%, -100%, 0);
        opacity: 0; 
    }
    60%{
        transform: translate3d(-50%, -80%, 0);
        opacity: 0; 
    }
    70%{
        transform: translate3d(-50%, -80%, 0);
        opacity: 0; 
    }
    
    80%{
        transform: translate3d(-50%, -80%, 0);
        opacity: 0; 
    }
    
    90%{
        transform: translate3d(-50%, -80%, 0);
        opacity: 0; 
    }
    100% {
        transform: translate3d(-50%, -50%, 0);
        opacity: 1;
    }
}

/* main_2 */

#main_2 {
    padding: 200px 0;
    background: #f9fafb;
}

#main_2 p {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.6;
    color: #191f28;
    text-align: center;
    margin-bottom: 50px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#main_2 p br {
    display: none;
}


/* main_3 */

#main_3 {
    position: relative;
    width: 100%;
    height: 1500px;
    padding-bottom: 150px;
}

#main_3 .cons {
    height: 73%;
    width: 100%;
    padding: 250px 0 165px 0;
    max-width: 1100px;
    margin: 0 auto;
}

#main_3 .consinner {
    width: 100%;
    height: 100%;
}

#main_3 .dadami {
    width: 92%;
    height: 100%;
    max-width: 100%;
    padding: 22px;
    margin: 0;
    box-sizing: border-box;
}

#main_3 .dadami2 {
    position: relative;
    width: 92%;
    height: 131%;
}

#main_3 .cons_stat h1,
#main_3 .cons_stat h2 {
    opacity: 0;
    transform: translateY(30px);
    animation: none; /* 기본 애니메이션 제거 */
}

/* show 클래스가 붙었을 때만 애니메이션 실행 */
#main_3 .cons_stat h1.show {
    animation: fadeSlideUp 2.5s ease-out forwards;
    animation-delay: 0.5s;
}

#main_3 .cons_stat h2.show {
    animation: fadeSlideUp 2.5s ease-out forwards;
    animation-delay: 1s;
}

@keyframes fadeSlideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 기존 텍스트 스타일 유지 */
#main_3 .cons_stat h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    color: #3182f6;
    margin-bottom: 30px;
}

#main_3 .cons_stat h2 {
    font-size: 47px;
    font-weight: 700;
    line-height: 1.4;
    color: #191f28;
}

#main_3 .pons {
    width: 600px;
    height: 936px;
    position: absolute;
    top: 0px;
   right: -175px;
}

#main_3 .ponimg {
    width: 100%;
    height: 100%;
}

#main_3 .tossBank {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 56%;
    height: auto;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 42px;
}

#main_3 .ponss {
    width: 600px;
    height: 936px;
    position: absolute;
    left: -104px;
    top: 342px;
}

/* 애니메이션 */

    #main_3 .pons,
    #main_3 .ponss {
        transform: translateY(100px);
        opacity: 0;
        transition: transform 1s ease, opacity 1s ease;
    }

    /* 애니메이션 등장 시 */
    #main_3 .pons.show {
        transform: translateY(0);
        opacity: 1;
        transition-delay: 2s; 
    }

    #main_3 .ponss.show {
        transform: translateY(0);
        opacity: 1;
        transition-delay: 3s; 
}

#main_3 .ponimgs {
    width: 100%;
    height: 100%;
}

#main_3 .tossBanks {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 54%;
    height: auto;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 22px;
}

#main_3 .dadami2 p.dadami2_text {
    font-size: 23px;
    font-weight: 600;
    line-height: 1.5;
    color: rgb(51, 61, 75);
    position: absolute;
    right: -109px;
    top: 1000px;

    /* 초기 상태: 투명 + 아래로 살짝 */
    opacity: 0;
    transform: translateY(30px);
    animation: none; /* 기본은 애니메이션 없음 */
}

/* show 클래스 붙으면 애니메이션 실행 */
#main_3 .dadami2 p.dadami2_text.show {
    animation: fadeSlideUp 2.5s ease-out forwards;
    animation-delay: 4s; /* 4초 딜레이 */
}

/* 애니메이션 키프레임 */
@keyframes fadeSlideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* main_4 */

#main_4 {
    position: relative;
    width: 100%;
    background-color: #f9fafb;
}

#main_4 .allpad {
    padding: 250px 0;
}

#main_4 .inner {
    max-width: 1100px;
    margin: 0 auto;
}

#main_4 .main_4start {
    padding: 0 22px;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#main_4 .rem {
    opacity: 0;
    transform: translateY(30px);
}

#main_4 .rem.show {
    animation: fadeUp 1.5s ease-out forwards;
    animation-delay: 0.2s;
}

#main_4 .rem h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    color: #3182f6;
    margin-bottom: 30px;
}

#main_4 .rem h2 {
    font-size: 46px;
    font-weight: 700;
    line-height: 1.4;
    color: #191f28;
    margin-bottom: 80px;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeSlideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* .kimtos는 초기 레이아웃 역할만, 애니메이션 X */
#main_4 .kimtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 38px;
  margin: 0 0 150px;
}

/* 글이 들어있는 첫 번째 div: 초기 숨김 */
#main_4 .kimtos > div:first-child {
    width: 50%;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 1.5s ease-out forwards;
    animation-delay: 1s; 
}

/* 이미지가 들어있는 div.kim: 초기 숨김 */
#main_4 .kimtos > div.kim {
   width: 491px;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeSlideUp 1.5s ease-out forwards;
    animation-delay: 2s; 
}


#main_4 .kimtos img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* show 클래스가 붙었을 때만 애니메이션 실행 */
#main_4 .kimtos.show > div:first-child,
#main_4 .kimtos.show > div.kim {
    animation-play-state: running;
}

/* 만약 show가 없으면 애니메이션 멈춤 상태 유지 */
#main_4 .kimtos > div:first-child,
#main_4 .kimtos > div.kim {
    animation-play-state: paused;
}

/* #main_4 .kimtos img {
    width: 45%; 
    max-width: 100%; 
    height: auto; 
} */

#main_4 .kimtos h1 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    color: rgb(49, 130, 246);
    -webkit-box-align: center;
}

#main_4 .kimtos span {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    color: rgb(51, 61, 75);
}

#main_4 .kimtos p {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    color: rgb(107, 118, 132);
}

#main_4 .kimtos img {
    width: 45%; 
    max-width: 100%; 
    height: auto; 
}

#main_4 .kim {
    width: 50%;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeSlideUp 1.0s ease-out forwards;
    animation-delay: 3s; 
}

#main_4 .kim.show {
  animation-play-state: running;
}

#main_4 .kim img {
 width: 95%;

}

@keyframes fadeTogether {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 전체 블록 기본 레이아웃 */
#main_4 .Kim_Sa_gi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 38px;
  margin: 0 0 150px;
  flex-wrap: wrap-reverse;
}

/* 텍스트 및 이미지 div 공통 초기 상태 */
#main_4 .Kim_Sa_gi > div {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeTogether 1.5s ease-out forwards;
   animation-delay: 2s;
  animation-play-state: paused; /* 초기에 멈춤 */
}

/* show 클래스가 붙으면 애니메이션 실행 */
#main_4 .Kim_Sa_gi.show > div {
  animation-play-state: running;
}

#main_4 .Kim_Sa_gi  h1 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    color: rgb(49, 130, 246);
    -webkit-box-align: center;
    align-items: center;
}

#main_4 .Kim_Sa_gi span {
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
    color: rgb(51, 61, 75);
}

#main_4 .Kim_Sa_gi p {
    font-size: 22px;
    margin-top: 20px;
    font-weight: 600;
    line-height: 1.5;
    color: rgb(107, 118, 132);
}

#main_4 .now {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 38px;
    margin: 0px 0px 150px;
}

#main_4 .now h1 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    color: rgb(49, 130, 246);
    -webkit-box-align: center;
}

#main_4 .now span {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    color: rgb(51, 61, 75);
}

#main_4 .now p {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    color: rgb(107, 118, 132);
}

#main_4 .nows {
    width: 50%;
}

#main_4 .nows img {
 width: 95%;
}


/* main_5 */

#main_5 {
    position: relative;
    width: 100%;
}

#main_5 .inner {
    position: relative;
    padding: 250px 0;
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#main_5 .Loans {
    padding: 0 22px;
}


#main_5 .pons {
    width: 600px;
    height: 936px;
    position: absolute;
    top: 145px;
    right: -104px;
}

#main_5 .ponimg {
    width: 100%;
    height: 100%;
}

#main_5 .css_pornss {
    position: absolute;
    top: 104px;
    /* right: -92px; */
    left: 53px;
    height: auto;
    width: 85%;
}

.css_pornss2 {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  height: auto;
  z-index: 2;
}

.css_pornss2 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  border-radius: 34px;
  opacity: 0;
  animation: fadeSequence 8s infinite;
}

/* 이미지 순서에 따라 딜레이 조절 */
.css_pornss2 img:nth-child(1) {
  animation-delay: 0s;
}
.css_pornss2 img:nth-child(2) {
  animation-delay: 2s;
}
.css_pornss2 img:nth-child(3) {
  animation-delay: 4s;
}
.css_pornss2 img:nth-child(4) {
  animation-delay: 6s;
}

/* 하나씩 2초만 보이게, 이후 사라짐 */
@keyframes fadeSequence {
  0%   { opacity: 0; }
  5%   { opacity: 1; }
  25%  { opacity: 1; }
  30%  { opacity: 0; }
  100% { opacity: 0; }
}


#main_5 .Loans_star {
    margin-bottom: 165px;
}

/* 애니메이션 */
#main_5 .Loans_star {
    transform: translateY(100px);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
}

#main_5 .Loans_star.show {
    transform: translateY(0);
    opacity: 1;
}

#main_5 .Loans_star h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    color: #3182f6;
    margin-bottom: 20px;
}

#main_5 .Loans_star h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.4;
    color: #191f28;
}

#main_5 .low_less span {
    display: flex;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.5;
    color: rgb(51, 61, 75);
    white-space: nowrap
}

#main_5 .low_less .low {
    color: #8b95a1;
    margin-left: 11px;
}

#main_5 .low_less .less {
    color: #d1d6db;
    margin-left: 11px;
}

#main_5 .low_less p {
    font-size: 23px;
    font-weight: 600;
    line-height: 1.5;
    color: rgb(51, 61, 75);
}

/* 애니메이션 */

.low_less p,
.low_less .step {
  opacity: 0;
  transform: translateY(30px);
  transition: transform 0.6s ease, opacity 0.6s ease;
}


.low_less p.show {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1.2s;
}


.low_less .step-1.show {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 2.0s;
}


.low_less .step-2.show {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 2.5s;
}


.low_less .step-3.show {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 3.0s;
}


/* main_6 */

#main_6 {
    position: relative;
    width: 100%;
    background-color: #f9fafb;
}

#main_6 .inner {
    position: relative;
    padding: 250px 0;
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#main_6 .crestar {
    position: relative;
    padding: 0 22px;
}

#main_6 .cred h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    color: #3182f6;
    margin-bottom: 30px;
}

#main_6 .cred h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.4;
    color: #191f28;
    margin-bottom: 80px;
}

/* 애니메이션 */

.cred {
  opacity: 0;
  transform: translateY(30px);
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.cred.show {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.8s;
}


#main_6 .credit_score {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 30px);
        margin: 0px -30px -30px -37px;
}

#main_6 .full_credit {
    padding: 40px;
    margin: 0 30px 30px 0;
    overflow: hidden;
    /* isolation: isolate; 부모 자식 요소 차단용(색이나 기타 등등..) */
    height: 400px;
    background-color: inherit;
    flex-basis: 33%;
}

#main_6 .full_credit img{
    width: 120px;
    margin-bottom: 30px;
}

/* 애니메이션 */

.full_credit p,
.full_credit img {
  opacity: 0;
  transform: translateY(30px);
  transition: transform 1s ease, opacity 1s ease;
}

/* p태그: 바로 애니메이션 */
.full_credit.show p {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1s;
}

.full_credit.show img {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1.5s;
}

#main_6 .credit_language {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    color: rgb(51, 61, 75);
    margin-bottom: 10px;
}

#main_6 .credit_check_info{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    color: rgb(107, 118, 132);
}


/* main_7 */

#main_7 {
    position: relative;
    width: 100%;
}

#main_7 .inner {
    padding: 250px 0;
}

#main_7 .investment {
    max-width: 1100px;
    width: 100%;
    height: 100%;
    margin: auto;
}

#main_7 .inves_star {
    margin: 0 auto;
    padding: 0 22px;
}

#main_7 .inves_star h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    color: #3182f6;
    margin-bottom: 30px;
}

#main_7 .inves_star h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.4;
    color: #191f28;
    margin-bottom: 0px;
}

#main_7 .inves_star .separa {
    display: none;
    word-break: keep-all;
    white-space: pre-wrap;
}

/* 애니메이션 */

.inves_star {
    opacity: 0;
  transform: translateY(30px);
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.inves_star.show {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.8s;
}


#main_7 .inv_pon {
    position: relative;
    margin-bottom: 12px;
    width: 100%;
}

#main_7 .inv_pons {
    position: relative;
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

#main_7 .inv_pons img {
    display: flex;
    width: 100%;
    height: 100%;
}

#main_7 .inv_pons .stock{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 48%;
    height: auto;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 58px;
}

#main_7 .inv_text {
    position: absolute;
    top: 41%;
    left: 68%;
}

#main_7 .inv_text p {
    font-size: 23px;
    font-weight: 600;
    line-height: 1.5;
    color: rgb(51, 61, 75);
}

#main_7 .inv_text1 {
    position: absolute;
    top: 54%;
    left: 16%;
}

#main_7 .inv_text1 p {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
    color: rgb(51, 61, 75);
    max-width: 220px;
}

/* 애니메이션 */

.inv_text,
.inv_text1 {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.inv_text.show {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1.5s; 
}

.inv_text1.show {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 2.0s; 
}

#main_7 .separate {
    max-width: 1100px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#main_7 .sep_inner {
    word-break: keep-all;
    white-space: pre-wrap;
}

#main_7 .sep_inner p {
    font-size: 21px;
    font-weight: 600;
    line-height: 1.5;
    color: rgb(51, 61, 75);
    text-align: center;
}

#woman {
    position: relative;
    background: url("/img/section2_4_big.jpg") no-repeat center top;
    background-size: cover;
    width: 100%;
    height: 765px;
    overflow: hidden;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    word-break: keep-all;
    white-space: pre-wrap;
}


/* woman */
#woman span {
    font-size: 80px;
    font-weight: 700;
    line-height: 1.3;
    color: #f9fafb;
    text-align: center;
}

#woman .wtransform,
#woman .wtransform2 {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  transition: transform 0.5s ease;
  pointer-events: none;
}

#woman .wtransform {
  left: 0;
  width: 50%;
  transform: translateX(0);
}

#woman .wtransform2 {
  right: 0;
  width: 50%;
  transform: translateX(0);
}


/* main_8 */

/* 애니메이션 */

.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in-up.show {
  opacity: 1;
  transform: translateY(0);
}


#main_8 {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#main_8 .inner {
    padding: 250px 0;
    max-width: 1100px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#main_8 .finance {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#main_8 .finance h1 {
    margin-bottom: 140px;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.4;
    color: #191f28;
}

#main_8 .finance_img {
    display: flex;
}

#main_8 .finance_img img {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    display: block;
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
    margin-bottom: 60px;
}

#main_8 .tax2_text {
    opacity: 0.951166;
    transform: translate3d(0px, 0.488341px, 0px);
    width: 100%;
    margin-bottom: 210px;
}

#main_8 .tax2_text h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #191f28;
    margin-bottom: 5px;
}

#main_8 .tax2_text h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #191f28;
    color: #b0b8c1;
    margin-bottom: 26px;
}

#main_8 .tax2_text p {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    color: #333d4b;
}

#main_8 .insurance {
    display: flex;
    width: 100%;
    margin-bottom: 300px; 
}

#main_8 .insurance_left {
    display: block;
    flex: 2;
    margin-right: 2px;
}

#main_8 .insurance_left img {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    width: 95%;
    height: 92%;
    margin-bottom: 40px;
}

#main_8 .insurance_text {
    opacity: 0.843424;
    transform: translate3d(0px, 1.56576px, 0px);
}

#main_8 .insurance_text h2 {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.3;
    color: #191f28;
    margin-bottom: 5px;
}

#main_8 .insurance_text h3 {
    font-size: 33px;
    font-weight: 700;
    line-height: 1.3;
    color: #191f28;
    color: #b0b8c1;
}



#main_8 .insurance_right {
    display: block;
    flex: 1;
    margin-top: 153px;
}

#main_8 .insurance_right img {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    width: 100%;
    margin-bottom: 40px;
}

#main_8 .insurance_right p {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    color: #333d4b;
    width: 100%;
}

#main_8 .estate {
    display: block;
}

#main_8 .estate img {
    opacity: 0.933601;
    transform: translate3d(0px, 9.98853px, 0px);
    width: 100%;
    margin-bottom: 50px;
}

#main_8 .flex_box {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    display: flex;
    width: 100%;
}

#main_8 .estate_text {
    flex: 1;
    margin-bottom: 0px;
}

#main_8 .estate_text h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #191f28;
    margin-bottom: 5px;
}

#main_8 .estate_text h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #191f28;
    color: #b0b8c1;
}

#main_8 .estate p {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    color: #333d4b;
}

/* main_9 */


#main_9 {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #f9fafb;
}

#main_9 .inner {
    padding: 250px 0 165px 0;
    max-width: 1100px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#main_9 .blank {
    width: 100%; 
    max-width: 100%; 
    padding: 10px; 
    margin: 0; 
    box-sizing: border-box; 
}

#main_9 .payment {
    position: relative;
    height: 1272px;
}

#main_9 .payment_text {
    position: relative;
    z-index: 1;
}

#main_9 .payment_text h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    color: #3182f6;
    margin-bottom: 20px;
}

#main_9 .payment_text h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.4;
    color: #191f28;
    margin-bottom: 100px;
}

/* 애니메이션 */

.payment_text {
    opacity: 0;
  transform: translateY(30px);
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.payment_text.show {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.8s;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.4s ease, transform 1.4s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
   transition-delay: 2s;
}

.fade-in2 {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.4s ease, transform 1.4s ease;
}

.fade-in2.show {
  opacity: 1;
  transform: translateY(0);
   transition-delay: 3s;
}

#main_9 .pornn1 {
    width: 600px;
    height: 936px;
    position: absolute;
    bottom: 0px;
    left: -124px;
}
#main_9 .pornn1 .barcode {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 57%;
    height: auto;transform: translate3d(-50%, -50%, 0);
    border-radius: 49px;
}

#main_9 .pornn1 img {
    position: relative;
    width: 100%;
    height: 100%;
}

#main_9 .pornn2 {
    width: 600px;
    height: 936px;
    position: absolute;
    top: -70px;
    right: -70px;
}

#main_9 .pornn2 .musinsa {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 57%;
    height: auto;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 49px;
}

#main_9 .pornn2 img {
    position: relative;
    width: 100%;
    height: 100%;
}

#main_9 .pornn_text1 {
    font-size: 23px;
    font-weight: 600;
    line-height: 1.5;
    position: absolute;
    top: 267px;
    left: 0px;
    width: 100vw;
    color: rgb(78, 89, 104);
}

#main_9 .pornn_text2 {
    font-size: 23px;
    font-weight: 600;
    line-height: 1.5;
    position: absolute;
    bottom: 280px;
    left: 656px;
    width: 480px;
    color: rgb(78, 89, 104);
}

/* main_9 hiddeen */

#main_9 .pornns1 {
    display: flex;
    flex-direction: column;
}

#main_9 .pornn_inner {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

#main_9 .pornn_inner2 {
    position: relative;
    width: 600px;
    height: 936px;
    margin: 0px auto;
}

/* 애니메이션 */

.pornn_inner2,
.pornn_inner span {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease;
}

.pornn_inner2.show {
  opacity: 1;
  transform: translateY(0);
   transition-delay: 1.5s;
}

.pornn_inner span.show {
  transition-delay: 0.3s;
  opacity: 1;
  transform: translateY(0);
   transition-delay: 2s;
}

#main_9 .barcode {
    position: absolute;
    top: 9%;
    left: 22%;
    width: 57%;
    height: auto;
    border-radius: 22px;
}

#main_9 .pornn_inner2 .porn_barcodes {
    position: relative;
    width: 100%;
    height: 100%;
}

#main_9 .pornn_inner span {
    font-weight: 600;
    line-height: 1.5;
    width: 100%;
    color: rgb(78, 89, 104);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    font-size: 17px;
}



/* main_10 */

#main_10 {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 100px 0 250px 0;
    background-color: #000000;
}

/* 애니메이션 */

.business_top {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.4s ease, transform 1.4s ease;
}

.business_top.show {
  opacity: 1;
  transform: translateY(0);
   transition-delay: 0.8s;
}

.business_bottom {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.4s ease, transform 1.4s ease;
}

.business_bottom.show {
  opacity: 1;
  transform: translateY(0);
   transition-delay: 1.3s;
}

.business_menus {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.4s ease, transform 1.4s ease;
}

.business_menus.show {
  opacity: 1;
  transform: translateY(0);
   transition-delay: 2.0s;
}

.business_menus {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.4s ease, transform 1.4s ease;
}

.business_menus.show {
  opacity: 1;
  transform: translateY(0);
   transition-delay: s;
}

#main_10 .business_top {
    width: 100%;
}

#main_10 .business_top img {
    display: block;
    width: 100%;
    margin-bottom: 11px;
}

#main_10 .business_bottom {

}

#main_10 .business_bottom h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.4;
    color: #fff;
    margin-bottom: 21px;
    text-align: center;
}

#main_10 .business_bottom h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4;
    color: #b0b8c1;
    text-align: center;
    margin-bottom: 200px;
}

#main_10 .business_menu {
    display: flex;
    align-items: center;
    padding: 0px 48px;
}

#main_10 .business_menus {
    display: flex;
justify-content: center;
    width: 100%;
}

#main_10 .business_payment {
    width: 25%;
    justify-content: flex-start;
    max-width: 300px;
}

#main_10 .business_payment span {
    margin-bottom: 12px;
    font-size: 30px;
    font-weight: 700;
    line-height: 2.3;
    color: #fff;
}

#main_10 .business_payment p {
    max-width: 300px;
    margin-bottom: 38px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    color: #b0b8c1;
}

#main_10 .business_payment a {
    background-color: #3182f6;
    color: #fff;
    padding: 0.8em 1.6em;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

#main_10 .business_payment a:hover {
    background-color: #2670c6; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

#main_10 .business_ledger {
    margin-left: 20px;
    width: 25%;
    justify-content: flex-start;
    max-width: 300px;
}

#main_10 .business_ledger span {
    margin-bottom: 12px;
    font-size: 30px;
    font-weight: 700;
    line-height: 2.3;
    color: #fff;
}

#main_10 .business_ledger p {
    max-width: 300px;
    margin-bottom: 38px;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.6;
    color: #b0b8c1;
}

#main_10 .business_ledger a {
    background-color: #3182f6;
    color: #fff;
    padding: 0.8em 1.6em;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

#main_10 .business_payment a:hover {
    background-color: #2670c6; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

#main_10 .business_pay {
    margin-left: 20px;
    width: 25%;
    justify-content: flex-start;
    max-width: 300px;
}

#main_10 .business_pay span {
    margin-bottom: 12px;
    font-size: 30px;
    font-weight: 700;
    line-height: 2.3;
    color: #fff;
}

#main_10 .business_pay p {
    max-width: 300px;
    margin-bottom: 38px;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.6;
    color: #b0b8c1;
}

#main_10 .business_pay a {
    background-color: #3182f6;
    color: #fff;
    padding: 0.8em 1.6em;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

#main_10 .business_pay a:hover {
    background-color: #2670c6; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

#main_10 .business_Place {
    margin-left: 20px;
    width: 25%;
    justify-content: flex-start;
    max-width: 300px;
}

#main_10 .business_Place span {
    margin-bottom: 12px;
    font-size: 30px;
    font-weight: 700;
    line-height: 2.3;
    color: #fff;
}

#main_10 .business_Place p {
    max-width: 300px;
    margin-bottom: 38px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    color: #b0b8c1;
}

#main_10 .business_Place a {
    background-color: #3182f6;
    color: #fff;
    padding: 0.8em 1.6em;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

#main_10 .business_Place a:hover {
    background-color: #2670c6; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}


/* main_11 */

#main_11 {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 33px 0px;
    background: #f5f6f8;
}

#main_11 .inner{
    max-width: 800px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#main_11 .blank{
    width: 100%; 
    max-width: 100%; 
    padding: 10px; 
    margin: 0; 
    box-sizing: border-box; 
}

#main_11 .business {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main_11 .business_text {
display: block;
}

#main_11 .business_text h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.3;
    color: #333d4b;
    margin-bottom: 16px;
}

#main_11 .business_text p{
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(0, 19, 43, 0.58);
}

#main_11 .business_text a {
    background-color: #e0f7ff;
    color: #3182f6;
    padding: 12px 24px;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

#main_11 .business_imgs {
    width: 240px;
    background-color: transparent;
}

#main_11 .business_imgs img {
    width: 100%;
    height: 100%;
}


/* footer */

#footer {
    background-color: #f9fafb;
    padding: 50px 0 100px;
}

#footer .inner {
    max-width: 1064px;
    margin: auto;
    padding: 0 67px;
    box-sizing: border-box;
}

#footer .footer_top {
    display: flex;
    padding-bottom: 50px;
}

#footer .footer_top ul {
    width: 170px;
    
    color: #6b7684;
    font-size: 15px;
    line-height: 30px;
    box-sizing: border-box;
}

#footer .footer_top ul:last-of-type {
    flex: 1;
}

.footer_top ul li:first-child {
    padding-bottom: 5px;
    color: #333d4b;
    font-weight: 700;
}

#footer .footer_top ul li {

}

#footer .footer_top li a {
    display: block;
    text-decoration: none;
    color: #6b7684;
}

#footer .footer_top li a:hover {
    color: #007bff;
    text-decoration: underline;
}

#footer .adress {
    color: #8b95a1;
    font-size: 13px;
    line-height: 20px;
}

#footer .adress strong {
    display: block;
    padding-bottom: 16px;
    color: #333d4b;
    font-size: 15px;
}

#footer .adress a {
    text-decoration: none;
    color: #6b7684;
}

#footer .adress a:hover {
    color: #007bff;
}

#footer .terms_and {
    display: inline-grid;
    grid-template-columns: repeat(4, auto);
    row-gap: 4px;
    margin: 0;
    padding: 24px 0 30px;
    column-gap: 36px;
}

#footer .terms_and li a {
    color: #6b7684;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
}

#footer .terms_and li a:hover {
    color: #007bff;
    text-decoration: underline;
}

#footer .terms_and li a strong {
    font-weight: 500;
    color: #333d4b;
    font-style: normal;
}

#footer .terms_and li a strong:hover {
    text-decoration: underline;
}

#footer .icon {
    display: flex;
    padding: 0;
}

#footer .icon li {
    margin-right: 8px; 
}

#footer .icon li a {
    cursor: pointer;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    transition: opacity .2s ease, transform .2s ease;
    opacity: .7;
}

#footer .icon li a:hover {
    opacity: 1; 
}


/* MEDIA */

@media (max-width: 640px) {

    #header .inner ul{
        display: none;
    }

    #header .kor {
        display: none;
    }

    #header .download {
        position: absolute;
        top: 16px;
        right: 20px;
        display: flex;
        align-items: center;
    }

    #header .download a {
                display: flex;
                width: 77px;
                height: 31px;
                font-size: 12px;
                border-radius: 15px;
                margin-right: 12px;
                background-color: rgb(49, 130, 246) !important;
                color: rgb(249, 250, 251) !important;
                text-align: center;
                justify-content: center;
                align-items: center;
    }

    #header .download button {
        height: 100%;
        padding: 0 8px;
        margin-right: -8px;
        box-sizing: border-box; 
        background-color: white;
    }
    
    #header .download button span {
        display: inline-flex; 
        align-items: center; 
        justify-content: center; 
        width: 24px;
        height: 24px;
        min-width: 24px;
        color: rgb(176, 184, 193);
    }
    
    #header .download button span svg {
        width: 100%;
        height: 100%; 
    }

    /* main */

    #main .Shadow {
        height: 270px;
    }

    #main .main_font {
        margin-top: -19px;
    }

    #main .main_font h1 {
        font-size: 33px;
        font-weight: 700;
        line-height: 1.4;
        color: rgb(25, 31, 40);
        margin-bottom: 2px;
    }

    #main .main_font h1 br {
        display: block; 
    }

    #main .main_font a {
        width: 78px;
        height: 28px;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.6;
    }

    /* main_2 */

    #main_2 {
        padding: 100px 0; 
    }

    #main_2 p{
        font-size: 22px;
        font-weight: 600;
        line-height: 1.5;
        color: #191f28;
        margin-bottom: 30px;
        white-space: normal;
    }

    #main_2 p br {
        display: block; 
    }

    /* main_3 */

    #main_3 {
        position: relative;
        width: 100%;
        height: 1500px;
        padding:  auto;
    }

    #main_3 .cons {
        padding: 100px 0;
    }

    #main_3 .consinner {
        width: 100%;
        height: 100%;
    }

     #main_3 .cons .babami {
        height: 100%;
        padding: 22px;
    }

     div #main_3 .babami2 {
        position: relative;
        height: 131%;
    }

    #main_3 .cons_stat h1 {
        margin-bottom: 10px;
        font-size: 18px;
    }

    #main_3 .cons_stat h2 {
        font-size: 28px;
    }

    #main_3 .ponall {
        position: relative;
        display: flex;
        height: 587px;
        margin-left: -24px;
    }

    #main_3 .pons {
        position: sticky;
        flex-shrink: 0;
        width: 100%;
        max-width: 375px;
        height: auto;
    }

    #main_3 .ponss {
        width: 100%;
        max-width: 375px;
        height: auto;
        position: sticky;
        flex-shrink: 0;
        margin-left: -100px;
    }

    #main_3 .dadami2_text {
        position: static !important;
        font-size: 17px !important;
       font-weight: 500 !important;
}
    
    /* main_4 */

    #main_4 .allpad{
        padding: 100px 0;
    }

    #main_4 .inner {
        padding: 0 22px;
    }

    #main_4 .rem h1{
        margin-bottom: 10px;
        font-size: 18px;
    }

    #main_4 .rem h2 {
        margin-bottom: 60px;
        font-size: 28px;
    }

    #main_4 .kimtos {
        width: calc(100% + 20px);
    }

    #main_4 .kimtos > div:first-child {
        width: 375px;
}

    #main_4 .kimtos h1 {
        font-size: 15px;
        margin-bottom: 8px;
    }

    #main_4 .kimtos span {
        font-size: 24px;
        margin-bottom: 10px;
    }

    #main_4 .kimtos img {
        width: 79%;
    }

    #main_4 .kimtos p {
        font-size: 15px;
    }

    #main_4 .kimtos .kim {
        width: 100%;
        transform: translateX(-20px);
    }

    #main_4 .kimtos .kim img {
        width: 100%;
        transform: translateX(-20px);
    }

    #main_4 .Kim_Sa_gi .kim {
        width: 100%;
        transform: translateX(-20px);
    }

    #main_4 .Kim_Sa_gi .kim img {
        width: 110%;
        transform: translateX(-27px);
    
    }

    #main_4 .Kim_Sa_gi h1 {
        font-size: 15px;
        margin-bottom: 8px;
    }

    #main_4 .Kim_Sa_gi span {
        font-size: 24px;
        margin-bottom: 10px;
        line-height: 34px;
    }

    #main_4 .Kim_Sa_gi p {
        font-size: 15px;
    }

    #main_4 .now h1 {
        font-size: 15px;
        margin-bottom: 8px;
    }

    #main_4 .now span {
        font-size: 24px;
        margin-bottom: 10px;
    }

    #main_4 .now p {
        font-size: 15px;
    }

    #main_4 .nows {
        width: 100%;
        transform: translateX(-20px);
    }

    #main_4 .nows img {
        width: 114%;
        transform: translateX(-40px);
    }

    /* main_5 */

    #main_5 .inner {
        padding: 200px 0;
    } 

    #main_5 .Loans {
        margin: 0 auto;
        padding: 0 22px;
    }

    #main_5 .Loans_star {
        margin-bottom: 0px;
    }

    #main_5 .Loans_star h1 {
        margin-bottom: 10px;
        font-size: 18px;
    }

    #main_5 .Loans_star h2 {
        font-size: 28px;
    } 

    #main_5 .ponall .pons {
        position: static;
        width: 100vw;
        max-width: 375px;
        height: auto;
        margin: auto;
    }

    #main_5 .pons .css_pornss {
        width: 100%;
         height: auto;
         position: absolute;
            top: 104px;
            right: 37px;
    }

     #main_5 .css_pornss2 {
        position: absolute;
        top: 316px;
        left: 41%;
        transform: translateX(-50%);
        width: 204px;
        height: auto;
        z-index: 2;
}

.css_pornss2 img {
  position: absolute;
  width: 220px;       
  left: 0;
}

.css_pornss2 img.bun-top {
  top: 0px;
  z-index: 4;
}

.css_pornss2 img.lettuce-layer {
  top: 0px;
  z-index: 3;
}

.css_pornss2 img.patty-layer {
  top: 0px;
  z-index: 2;
}

.css_pornss2 img.bun-bottom {
  top: 0px;
  z-index: 1;
}

    #main_5 .low_less {
        word-break: keep-all;
        white-space: pre-wrap;
        line-height: 4px;
    }

    #main_5 .low_less span {
        font-size: 28px;
        line-height: 1.4;
    }

    #main_5 .low_less p {
        font-size: 17px;
    }

    #main_5 .low_less br {
        display: none;
    }

    #main_6 .inner {
        padding: 100px 0;
    }

    #main_6 .credit {
        padding: 0 22px;
        margin: 0 auto;
    }

    #main_6 .cred h1 {
        margin-bottom: 10px;
        font-size: 18px;
    }

    #main_6 .cred h2 {
        margin-bottom: 60px;
        font-size: 28px;
    }

    #main_6 .crestar .credit_score {
        display: flex;
        flex-wrap: wrap;
       
    }
    
    #main_6 .full_credit {
        height: 210px;
        margin: 0 20px 20px 0;
    }

    #main_6 .credit_check_info br {
        display: none; 
    }

    #main_6 .full_credit img {
        width: 80px;
        margin-bottom: 20px;
    }

    #main_6 .credit_language {
        font-size: 24px;
    }

    #main_6 .credit_check_info {
        font-size: 15px;
    }

    /* main_7 */


    #main_7 .inner {
        padding: 100px 0;
    }

    #main_7 .inves_star h1 {
        margin-bottom: 10px;
        font-size: 18px;
    }

    #main_7 .inves_star h2 {
        margin-bottom: 20px;
        font-size: 28px;
    }

    #main_7 .inves_star .separa {
        display: block;
        font-size: 17px;
        font-weight: 600;
        line-height: 1.5;
        color: #333d4b;
    }


    #main_7 .inv_pons {
        width: 100%;
        max-width: 375px;
        height: auto;
    }

    #main_7 .sep_inner p {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.5;
        color: rgb(78, 89, 104);
    }

    #main_7 .inv_text {
        display: none;
    }

    #main_7 .inv_text1 {
        display: none;
    }
    

    /* woman */

    #woman {
        background: url("/toss/img/section2_4_big.jpg");
        background-position: -778px center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 72%;
        margin-left: 64px;
    }

    #woman span {
        font-size: 40px;
        text-shadow: 0px 1px 20px rgba(0, 0, 0, 0.45);
    }

    #woman .wtransform {
        
    }

    #woman .wtransform2 {
        
    }


    /* main_8 */

    #main_8 .inner {
        padding: 100px 0;
    }

    #main_8 .blank {
        padding: 0 22px;
    }

    #main_8 .finance h1 {
        font-size: 36px;
        margin-bottom: 64px;
    }

    /* #main_8 .finance_img {
        margin-bottom: 100px;
    } */

    #main_8 .tax2_text {
        margin-bottom: 210px;
    }

    #main_8 .tax2_text h2 {
        margin-bottom: 3px;
        font-size: 26px;
    }

    #main_8 .tax2_text h3 {
        font-size: 26px;
    }

    #main_8 .tax2_text p {
        font-size: 18px;
    }

    #main_8 .insurance {
        margin-bottom: 100px;
        flex-direction: column;
    }

    #main_8 .insurance_left {
        flex: 1;
        margin-right: 0;
    }

    #main_8 .insurance_left img {
        max-width: 240px;
        margin-bottom: 30px;
    }

   #main_8 .insurance_text h2 {
    font-size: 26px;
   }

   #main_8 .insurance_text h3 {
    font-size: 26px;
   }

   #main_8 .insurance_right {
    align-self: flex-end;
        max-width: 240px;
        margin-top: 100px;
   }

   #main_8 .insurance_text p{
    font-size: 18px;
    font-weight: 600;
   }

   #main_8 .estate img {
    margin-bottom: 30px;
   }

   #main_8 .flex_box {
    flex-direction: column;
   }

   #main_8 .estate_text {
    margin-bottom: 30px;
   }

   #main_8 .estate_text h2 {
    margin-bottom: 0px;
    font-size: 26px;
   }

   #main_8 .estate_text h3 {
    font-size: 26px;
    
   }

   #main_8 .flex_box p {
    font-size: 18px;
   }

   /* main_9 */
   
   #main_9 .inner {
    padding: 100px 0 200px;
   }

   #main_9 .blank {
    padding: 0px 22px;
   }

   /* #main_9 .payment {
    height: 100%;
   } */

   #main_9 .payment_text h1 {
    margin-bottom: 10px;
    font-size: 18px;
   }

   #main_9 .payment_text h2 {
    margin-bottom: 10px;
    font-size: 28px;
   }

   #main_9 .pornn {
    display: none;
   }

   #main_9 .pornn_inner {
    display: flex;
    flex-direction: column;
   }

   #main_9 .pornn_inner2 {
    width: 100%;
    max-width: 375px;
    height: auto;
   }

   #main_9

   #main_9

   #main_9

   
   /* main_10 */

   #main_10 {
    padding: 0 0 100px 0;
   }

   #main_10 .business_top {
    width: 100%;
   }

   #main_10 .business_top img {
         /* width: auto;
        height: 600px; */
        margin-bottom: 4px;
   }

   #main_10 .business_bottom h1{
    font-size: 36px;
   }

   #main_10 .business_bottom h2{
    font-size: 18px;
    margin-bottom: 100px;
   }

   #main_10 .business_menus {
    display: block;
   }

   #main_10 .business_menu {
    align-items: flex-start;
        gap: 40px;
        padding: 0px 24px;
   }

   #main_10 .business_payment {
    width: 100%;
    margin-left: 20px;
   }


   #main_10 .business_payment span {
    font-size: 26px;
    margin-bottom: 10px;
   }

   #main_10 .business_payment p {
    font-size: 18px;
    margin-bottom: 20px;
   }

   #main_10 .business_ledger {
        width: 100%;    
        margin-top: 40px;
        margin-bottom: 0;
   }

   #main_10 .business_ledger span {
    font-size: 26px;
    margin-bottom: 10px;
   }

   #main_10 .business_ledger p {
    font-size: 18px;
    margin-bottom: 20px;
   }

   #main_10 .business_pay {
    width: 100%;
    margin-top: 40px;
        margin-bottom: 0;
   }

   #main_10 .business_pay span {
    font-size: 26px;
    margin-bottom: 10px;
   }

   #main_10 .business_pay p {
    font-size: 18px;
    margin-bottom: 20px;
   }

   #main_10 .business_Place {
    width: 100%;
    margin-top: 40px;
        margin-bottom: 0;
   }

   #main_10 .business_Place span {
    font-size: 26px;
    margin-bottom: 10px;
   }

   #main_10 .business_Place p {
    font-size: 18px;
    margin-bottom: 20px;
   }

   /* main_11 */

   #main_11 {
    padding: 72px 0px;
   }

   #main_11 .business_text {
    padding-left: 31px;
   }

   #main_11 .business_text h1 {
    font-size: 30px;
        font-weight: 700;
        line-height: 1.3;
        color: #6b7684;
        margin-bottom: 12px;
   }

   #main_11 .business_text p {
    font-size: 17px;
        font-weight: 400;
        line-height: 1.5;
        color: #6b7684;
   }

   #main_11 .business_img {
    display: none;
   }

   /* footer */

   #footer {
    margin-top: 0;
    padding: 60px 40px 80px;
   }

   #footer .inner {
    padding: 0;
   }

   #footer .footer_top {
    flex-direction: column;
        padding-bottom: 0;
   }

   #footer .footer_top ul {
    width: 100%;
        padding-bottom: 40px;
   }

   #footer .footer_top:last-of-type {
    flex: 1;
   }

   #footer .terms_and {
    grid-template-columns: auto;
    row-gap: 6px;
    column-gap: unset;
   }
}

@media (min-width:640px) {
   #main_9 .pornns2 {
    display: none;
   }
}

